@media (max-width: 768px) {
  .project-screen {
    height: auto;
    display: inline-flex;
  }
  .subsection {
    padding: 0;
  }
}

#app {
  margin: 0 10% 0 10%;
  text-align: center;
  color: slategray;
  font-family: "Noto Sans KR";
}

#header {
  position: fixed;
  width: 80%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#link-container {
  display: flex;
}
.link-icon {
  margin-right: 20px;
}
.link-icon:last-child {
  margin-right: 0;
}
.resume {
  color: red;
  animation: leaves 1.5s ease-in-out infinite alternate;
  -webkit-animation: leaves 1.5s ease-in-out infinite alternate;
}
@keyframes leaves {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.8);
  }
}
a {
  text-decoration: none;
  color: slategray;
}
.link-icon:hover,
.resume:hover {
  font-weight: 500;
  transform: scale(1.5);
  animation: none;
}
#link-container .link-icon:hover {
  color: darkslategray;
}
a[data]:hover:after {
  content: attr(data);
  font-size: 12pt;
  padding: 4px 8px;
  color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  border-radius: 5px;
  background: rgba(29, 21, 21, 0.2);
  margin-left: 2px;
  margin-right: 10px;
}

#body h1 {
  font-size: 40pt;
  font-weight: 200;
  margin: 20px;
}
#body h2,
#body h3 {
  font-weight: 400;
  margin: 0px;
}
#body h2 {
  font-weight: 200;
}
#body h3 {
  margin-bottom: 40px;
  width: min-content;
  align-self: center;
  background-color: rgb(173, 216, 230, 0.8);
  color: darkslategray;
  border-radius: 80% 45% 79% 56%;
  padding: 0px 8px 10px 12px;
}

#body {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  border: 10 solid black;
}
.section {
  margin: 50px 0 0 0;
  padding-bottom: 50px;
}
.section:last-child {
  padding-bottom: 0;
}
.subsection {
  display: flex;
  margin-bottom: 50px;
  flex: 1;
  flex-direction: column;
}
.subsection:first-child {
  align-items: center;
}
.subsection:first-child div {
  width: 70%;
}
.subsection:last-child {
  margin-bottom: 100px;
}
/* .body div.section {
  border-bottom: 1px solid lightgray;
} */

.title {
  background-color: rgb(238, 222, 133, 0.2);
  border-radius: 45% 79% 56% 80%;
}
.history {
  font-size: 0.8em;
  font-weight: 200;
  margin-top: 50px;
}
.skill-tag {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin: 10px 10px 5px 10px;
  font-weight: 100;
  font-size: 14pt;
}
.skill-tag:hover,
.skill-tag.mark {
  border-color: red;
  border-width: 1px;
  font-weight: 200;
}

.project-tap {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.project-screen {
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.project-screen svg {
  flex: 1;
}
.project-screen div {
  flex: 10;
}
.project-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: darkslategray;
  font-size: 13pt;
}
.project-img img {
  margin-top: 20px;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 350px;
}

.project_position {
  color: black;
  margin-bottom: 20px;
  font-size: 1.2em;
}
.project_stack {
  color: firebrick;
  width: 70%;
  margin: 0 15% 0 15%;
}
.project-link {
  color: rgb(31, 44, 44);
}
.project-link svg {
  margin-right: 10px;
}
.project-rollContainer {
  width: 70%;
}
.project-roll {
  margin-top: 10px;
  color: rgb(31, 44, 44);
  font-size: 12pt;
  font-weight: 200;
  text-align: left;
}
.project-roll::before {
  content: "»";
  margin-right: 10px;
}

.project {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: 0 10px 0 10px;
  padding: 5px 0 5px 0;
  border-radius: 10px;
}
.period {
  font-size: 9pt;
}
.project-unmark {
  font-size: 13pt;
  background-color: hsl(0, 0%, 98%);
}
.project-mark,
.project-tap div:hover {
  font-size: 15pt;
  font-weight: 500;
  color: darkslategray;
  background-color: hsl(0, 0%, 95%);
}

.screen-changer-unactive {
  color: lightgray;
}
.project-screen svg {
  font-size: 25pt;
}

#footer {
  height: 200px;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
}
